extends /partials/layout

block body
    .my-4
        .mb-2
            a(href='/authenticated').btn.btn-primary= 'Back'
        h1= 'Your World of Warcraft Characters'
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Realm
                    th(scope='col') Level
                    th(scope='col') Action
            tbody
                each character, i in characters
                    -
                        const signatureUrl = `/authenticated/characters/${character.realm.slug}/${character.name.toLowerCase()}/signature`;
                        const armoryUrl = `https://worldofwarcraft.com/character/us/${character.realm.slug}/${character.name.toLowerCase()}`;
                    tr
                        th(scope='row') #{i+1}
                        td #{character.name}
                        td #{character.realm.name.en_US}
                        td #{character.level}
                        td
                            .dropdown
                                button.btn.btn-secondary.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | Actions
                                .dropdown-menu
                                    a.dropdown-item(href=signatureUrl, target='_blank') Generate Forum Signature
                                    a.dropdown-item(href=armoryUrl, target='_blank') View Armory Profile
