extends /partials/layout

block body
    .my-4
        .mb-2
            a(href='/authenticated').btn.btn-primary= 'Back'
        h1= 'Your World of Warcraft Characters'
        table.table
            thead
                tr
                    th(scope='col') WoW Account ID
                    th(scope='col') Name
                    th(scope='col') Realm
                    th(scope='col') Level
                    th(scope='col') Action
            tbody
                each character in characters
                    tr
                        td #{character.account_id}
                        td #{character.name}
                        td #{character.realm.name.en_US}
                        td #{character.level}
                        td
                            .dropdown
                                button.btn.btn-secondary.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    | Actions
                                .dropdown-menu
                                    a.dropdown-item(href=character.armoryUrl, target='_blank') View Armory Profile
